/*********************************************
    COLORS
*********************************************/
@media (max-width: 768px) {
  .footer-wrp {
    width: calc(100% - 120px);
    margin-right: 60px;
    margin-left: 60px; }
  .footer-elmt {
    width: 100%;
    margin-top: 40px;
    text-align: center; }
  .footer-accl-img {
    margin-top: 0px;
    margin-left: calc(50% - 96px);
    margin-right: calc(50% - 84px); }
  .footer-adds {
    margin-top: 0px;
    margin-left: calc(50% - 90px);
    margin-right: calc(50% - 90px); }
  .footer-logo-dpsght-wrapper {
    margin-top: 0px;
    margin-left: calc(50% - 115px);
    margin-right: calc(50% - 115px); }
  .footer-sln-img-wrp {
    margin-top: 0px;
    margin-right: calc(50% - 78px);
    margin-left: calc(50% - 78px); } }

@media (min-width: 769px) and (max-width: 992px) {
  .footer-wrp {
    width: calc(100% - 120px);
    margin-right: 60px;
    margin-left: 60px; }
  .footer-elmt {
    width: 100%;
    margin-top: 40px;
    text-align: center; }
  .footer-accl-img {
    margin-top: 0px;
    margin-left: calc(50% - 96px);
    margin-right: calc(50% - 84px); }
  .footer-adds {
    margin-top: 0px;
    margin-left: calc(50% - 90px);
    margin-right: calc(50% - 90px); }
  .footer-logo-dpsght-wrapper {
    margin-top: 0px;
    margin-left: calc(50% - 115px);
    margin-right: calc(50% - 115px); }
  .footer-sln-img-wrp {
    margin-top: 0px;
    margin-right: calc(50% - 78px);
    margin-left: calc(50% - 78px); } }

@media (min-width: 993px) and (max-width: 1200px) {
  .footer-wrp {
    width: calc(100% - 120px);
    margin-left: 120px; }
  .footer-elmt {
    width: 170px;
    margin-right: 5%; }
  .footer-accl-img {
    margin-top: 6px; }
  .footer-adds {
    margin-top: 16px; }
  .footer-logo-dpsght-wrapper {
    margin-top: 58px; }
  .footer-sln-img-wrp {
    margin-top: 62px; } }

@media (min-width: 1200px) {
  .footer-wrp {
    width: calc(100% - 150px);
    margin-left: 150px; }
  .footer-elmt {
    width: 195px;
    margin-right: 6%; }
  .footer-accl-img {
    margin-top: 6px; }
  .footer-adds {
    margin-top: 16px; }
  .footer-logo-dpsght-wrapper {
    margin-top: 58px; }
  .footer-sln-img-wrp {
    margin-top: 62px; } }

/*********************************************
    FOOTER BLOCK
*********************************************/
/*BLOCK*/
.footer-block {
  background: #3928E0;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #007DF3, #212BEB, #6523CB);
  /* Standard syntax */
  height: auto; }

.footer-wrp {
  position: relative;
  float: left;
  margin-top: 100px;
  margin-bottom: 100px;
  height: auto; }

.footer-tp, .footer-bt {
  position: relative;
  float: left;
  width: 100%; }

.footer-tp {
  height: auto; }

.footer-bt {
  height: auto; }

.footer-elmt {
  position: relative;
  float: left;
  height: auto; }

/*Content*/
.ft-lk:link, .ft-lk:visited, .ft-lk:hover, .ft-lk:active {
  text-decoration: none !important;
  color: #fff; }

.link-footer:link, .link-footer:visited, .link-footer:hover, .link-footer:active {
  text-decoration: none !important;
  color: #fff; }

.footer-ttl {
  position: relative;
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 15px !important;
  font-family: maisonneuemedium;
  color: #B3C7EF; }

.footer-l-sct {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
  color: #fff; }

.footer-l {
  position: relative;
  float: left;
  width: 100%;
  font-family: maisonneuelight;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer; }

/*Logo*/
.footer-logo-dpsght-wrapper {
  position: relative;
  float: left;
  height: 36px;
  width: 230px; }

.footer-logo-dpsght-pic {
  position: relative;
  float: left;
  height: 36px;
  width: 36px;
  background: url(../images/logo-deepsight-white.svg) 50% -1px no-repeat;
  background-size: cover; }

.footer-logo-dpsght-title {
  position: relative;
  float: left;
  margin-left: 15px;
  font-family: maisonneuemedium;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff; }

/*adress*/
.footer-adds {
  position: relative;
  float: left;
  height: auto; }

.footer-adds-img {
  position: relative;
  float: left;
  height: 40px;
  cursor: pointer; }

.footer-adds-cp {
  position: relative;
  float: left;
  width: 100%;
  font-family: maisonneuelight;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #fff; }

/*50partners*/
.footer-accl-img {
  position: relative;
  float: left;
  height: 84px;
  cursor: pointer; }

/*Social network*/
.footer-sln-img-wrp {
  position: relative;
  float: left; }

.footer-sln-img {
  position: relative;
  float: left;
  height: 32px;
  margin-right: 20px;
  cursor: pointer; }

@media (max-width: 768px) {
  /*soon*/
  .soon-blc {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px); } }

@media (min-width: 769px) and (max-width: 992px) {
  /*soon*/
  .soon-blc {
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-right: calc(50% - 200px); } }

@media (min-width: 993px) and (max-width: 1200px) {
  /*soon*/
  .soon-blc {
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-right: calc(50% - 200px); } }

@media (min-width: 1200px) {
  /*soon*/
  .soon-blc {
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-right: calc(50% - 200px); } }

/*********************************************
    SOON CLASS 
*********************************************/
.soon-wrp {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 57, 66, 0.75);
  z-index: 100; }
  .soon-wrp .soon-blc {
    position: relative;
    float: left;
    height: auto;
    margin-top: 260px;
    background-color: #fff;
    border-radius: 6px; }

.cross-cl {
  position: absolute;
  height: 14px;
  right: 20px;
  top: 15px;
  cursor: pointer; }

.soon-cp {
  position: relative;
  float: left;
  font-family: maisonneuelight;
  color: #232B5F;
  text-align: center;
  width: calc(100% - 40px);
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px; }

@media (max-width: 768px) {
  .top-bar-wrp, .top-bar-wrp-w {
    display: none; } }

@media (min-width: 769px) and (max-width: 992px) {
  .top-bar-wrp, .top-bar-wrp-w {
    display: none; } }

@media (min-width: 993px) and (max-width: 1200px) {
  .mobile-menu {
    display: none; } }

@media (min-width: 1200px) {
  .mobile-menu {
    display: none; } }

/*********************************************
    HEADER BLOCK
*********************************************/
/*Mobile Menu*/
.mobile-menu {
  height: auto;
  width: 100%;
  z-index: 20;
  position: fixed;
  background-color: #3928E0; }

.menu-header-top {
  position: relative;
  display: block;
  width: 100%; }

.mobile-logo-dpsght-wrapper {
  position: relative;
  float: left;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  width: auto; }

.mobile-logo-dpsght-title {
  position: relative;
  float: left;
  margin-left: 15px;
  font-family: maisonneuemedium;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white; }

.mobile-logo-dpsght-pic {
  position: relative;
  float: left;
  height: 42px;
  width: 42px;
  background: url(../images/logo-deepsight-white.svg) 50% -1px no-repeat;
  background-size: cover; }

.hidden-menu, .shown-menu {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block; }

.hidden-menu {
  display: none;
  transition: all 0.2s linear; }

.shown-menu {
  transition: all 0.2s linear; }

#hamburger {
  position: fixed;
  width: 36px;
  height: 28px;
  margin-top: 24px;
  margin-right: 40px;
  top: 0px;
  right: 0px;
  z-index: 1;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  transition: .25s ease-in-out; }

.hamburger-top-bar {
  top: 0px;
  width: 100%; }

.hamburger-middle1-bar, .hamburger-middle2-bar {
  top: 13px;
  width: 100%; }

.hamburger-bottom-bar {
  top: 26px;
  width: 100%; }

.hamburger-top-bar-clicked, .hamburger-bottom-bar-clicked {
  top: 13px;
  width: 0px !important;
  left: 50% !important; }

.hamburger-middle1-bar-clicked {
  transform: rotate(45deg);
  width: 100%;
  top: 13px; }

.hamburger-middle2-bar-clicked {
  transform: rotate(-45deg);
  width: 100%;
  top: 13px; }

.mobile-menu-element {
  margin-left: 40px;
  line-height: 60px;
  font-family: maisonneuemedium;
  color: white;
  font-size: 16px; }

.menu-element-link:link, .menu-element-link:visited, .menu-element-link:hover, .menu-element-link:active {
  text-decoration: none !important; }

.read-more-link:link, .read-more-link:visited, .read-more-link:hover, .read-more-link:active {
  text-decoration: none !important; }

/*top-bar*/
.top-bar-wrp, .top-bar-wrp-w {
  position: fixed;
  float: left;
  width: 100%;
  height: 92px;
  padding-top: 50px;
  color: #fff;
  z-index: 20;
  transition: all 0.2s linear; }

.top-bar-wrp-w {
  background-color: #fff;
  border-bottom: solid 2px #BEC4F3;
  color: #232B5F;
  height: 52px;
  padding-top: 12px;
  transition: all 0.2s linear; }

.pg-lk:link, .pg-lk:visited, .pg-lk:hover, .pg-lk:active {
  text-decoration: none !important;
  color: #fff; }

.pg-lk-w:link, .pg-lk-w:visited, .pg-lk-w:hover, .pg-lk-w:active {
  text-decoration: none !important;
  color: #232B5F; }

.top-bar {
  position: absolute;
  float: left;
  margin-right: 60px;
  margin-left: 60px;
  width: calc(100% - 120px);
  height: 42px; }

/*logo*/
.logo-dpsght-wrapper {
  position: relative;
  float: left;
  height: 42px;
  width: auto; }

.logo-dpsght-pic, .logo-dpsght-pic-w {
  position: relative;
  float: left;
  height: 42px;
  width: 42px; }

.logo-dpsght-pic {
  background: url(../images/logo-deepsight-white.svg) 50% -1px no-repeat;
  background-size: cover; }

.logo-dpsght-pic-w {
  background: url(../images/logo-deepsight-full-color.png) 50% 0px no-repeat;
  background-size: cover; }

.logo-dpsght-title {
  position: relative;
  float: left;
  margin-left: 15px;
  font-family: maisonneuemedium;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px; }

/*we're hiring*/
.hiring-btn-wrapper {
  position: relative;
  float: left;
  margin-left: 45px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 120px; }

.hiring-btn {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FC3F58;
  border-radius: 4px;
  border: solid 1px #EF2B2D;
  cursor: pointer; }

.hiring-btn:hover {
  background-color: #BC3346;
  border: solid 1px #BC3346; }

.hiring-btn-cp {
  position: relative;
  width: 100%;
  height: calc(100% - 16px);
  font-size: 14px;
  font-family: maisonneuebold;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  color: white;
  float: left; }

/*category*/
.pg-wrapper {
  position: relative;
  float: right;
  width: auto;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px; }

.pg-cp {
  position: relative;
  float: left;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 14px;
  margin-top: 14px;
  font-family: maisonneuebold;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer; }

.pg-cp:hover {
  text-decoration: underline; }

/*language*/
.lg-wrapper {
  position: relative;
  float: right;
  width: auto;
  height: 100%;
  margin-left: 50px; }

.lg-cp {
  position: relative;
  float: left;
  font-size: 14px;
  color: #2AE6FD;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer; }

.lg-FR {
  font-family: maisonneuebold; }

.lg-EN {
  font-family: maisonneuelight; }

.lg-sp {
  position: relative;
  float: left;
  height: 100%;
  background-color: #2AE6FD;
  width: 1px;
  height: 20px;
  margin-top: 11px;
  margin-bottom: 11px; }

@media (max-width: 768px) {
  .jobs-list-ctn {
    width: calc(100% - 60px);
    margin-right: 30px;
    margin-left: 30px; } }

@media (min-width: 769px) and (max-width: 992px) {
  .jobs-list-ctn {
    width: calc(100% - 60px);
    margin-right: 30px;
    margin-left: 30px; } }

@media (min-width: 993px) and (max-width: 1200px) {
  .jobs-list-ctn {
    width: calc(100% - 300px);
    margin-right: 150px;
    margin-left: 150px; } }

@media (min-width: 1200px) {
  .jobs-list-ctn {
    width: calc(100% - 300px);
    margin-right: 150px;
    margin-left: 150px; } }

/*********************************************
    Job list
*********************************************/
.classic-cta-blc-jobs {
  padding-bottom: 30px !important; }

.jobs-list-ctn {
  position: relative;
  float: left;
  height: auto;
  margin-top: 70px;
  border-bottom: solid 1px #979797; }

.jobs-title-category {
  position: relative;
  float: left;
  font-family: maisonneuebook;
  font-size: 28px;
  line-height: 34px;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 50px);
  color: #1580EF;
  margin-bottom: 25px; }

.jobup, .jobdown {
  overflow-y: hidden;
  transition: height 300ms ease-in-out; }

.jobupp {
  height: 110px; }

.job {
  position: relative;
  float: left;
  width: 100%;
  height: 110px;
  border-top: solid 1px #979797; }

.jobdown {
  height: auto;
  overflow-y: scroll; }

.job-p-info {
  position: relative;
  float: left;
  height: 110px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  width: calc(100% - 50px);
  cursor: pointer; }

.job-p-info:hover {
  background-color: #F8F8F8; }

.job-nm {
  position: relative;
  float: left;
  font-size: 22px;
  line-height: 110px;
  height: 110px;
  width: 70%;
  font-family: maisonneuelight;
  color: #000;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: inline-block; }

.job-location {
  position: relative;
  float: right;
  font-size: 18px;
  line-height: 110px;
  height: 110px;
  width: 30%;
  font-family: maisonneuedemi;
  text-align: right;
  color: #7D7E7F;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: inline-block; }

.job-sttl {
  position: relative;
  float: right;
  font-size: 18px;
  font-family: maisonneuedemi;
  color: #000;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 50px);
  margin-top: 15px;
  margin-bottom: 15px; }

.job-cp {
  position: relative;
  float: right;
  font-size: 16px;
  line-height: 22px;
  font-family: maisonneuelight;
  color: #000;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 50px); }

/*********************************************
    Contact nous
*********************************************/
.jobs-ctt-ml:link, .jobs-ctt-ml:visited, .jobs-ctt-ml:hover, .jobs-ctt-ml:active {
  cursor: pointer;
  color: #1580EF;
  text-decoration: none; }

.classic-cta-blc-cp-stl-join-us {
  position: relative;
  font-family: maisonneuedemi;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1580EF; }

@media (max-width: 768px) {
  .vision-blc-wrp {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .vision-sbtl, .vision-cp, .wn-dsc {
    width: calc(100% - 90px);
    margin-left: 45px;
    margin-right: 45px; }
  .co-founder-ctn {
    width: 100%; }
  .tm-mmb-wrp {
    display: block;
    margin-left: calc(50% - 120px);
    margin-right: calc(50% - 120px); }
  .tm-mmb-wrp-1 {
    width: 200px;
    display: block;
    margin-left: calc(50% - 100px);
    margin-right: calc(50% - 100px); } }

@media (min-width: 769px) and (max-width: 992px) {
  .vision-blc-wrp {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .vision-sbtl, .vision-cp, .wn-dsc {
    width: calc(100% - 170px);
    margin-left: 85px;
    margin-right: 85px; }
  .co-founder-ctn {
    width: 100%; }
  .tm-mmb-wrp {
    display: block;
    margin-left: calc(50% - 120px);
    margin-right: calc(50% - 120px); }
  .tm-mmb-wrp-1 {
    width: 200px;
    display: block;
    margin-left: calc(50% - 100px);
    margin-right: calc(50% - 100px); } }

@media (min-width: 993px) and (max-width: 1200px) {
  .vision-blc-wrp {
    width: calc(100% - 350px);
    margin-left: 175px;
    margin-right: 175px; }
  .vision-sbtl, .vision-cp, .wn-dsc {
    width: calc(100% - 170px);
    margin-left: 85px;
    margin-right: 85px; }
  .co-founder-ctn {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .tm-mmb-wrp {
    display: block;
    margin-left: 45px;
    margin-right: 45px; }
  .tm-mmb-wrp-1 {
    width: 187px;
    display: block;
    margin-left: 30px;
    margin-right: 30px; } }

@media (min-width: 1200px) {
  .vision-blc-wrp {
    width: calc(100% - 350px);
    margin-left: 175px;
    margin-right: 175px; }
  .vision-sbtl, .vision-cp, .wn-dsc {
    width: calc(100% - 170px);
    margin-left: 85px;
    margin-right: 85px; }
  .co-founder-ctn {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .tm-mmb-wrp {
    display: block;
    margin-left: 45px;
    margin-right: 45px; }
  .tm-mmb-wrp-1 {
    width: 187px;
    display: block;
    margin-left: 30px;
    margin-right: 30px; } }

.vision-blc, .team-blc {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 100px; }

.vision-blc {
  padding-bottom: 100px; }

/*********************************************
    MANIFESTO
*********************************************/
.vision-blc {
  background-color: #F8F8F8; }

.vision-blc-wrp {
  position: relative;
  float: left;
  padding-top: 100px;
  height: auto;
  padding-bottom: 100px;
  box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  border-radius: 6px; }

.vision-pc {
  position: relative;
  float: left;
  height: 120px;
  margin-left: calc(50% - 60px);
  margin-right: calc(50% - 60px); }

.vision-ttl {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-family: maisonneuedemi;
  font-size: 32px;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #232B5F; }

.vision-cntt {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 60px; }

.vision-sbtl {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: maisonneuedemi;
  font-size: 24px;
  line-height: 42px;
  color: #232B5F; }

.vision-cp {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: maisonneuelight;
  font-size: 18px;
  line-height: 28px;
  color: #000; }

.wn-dsc {
  position: relative;
  float: left;
  font-size: 26px;
  line-height: 42px;
  font-family: maisonneuedemi;
  color: #232B5F;
  margin-top: 100px; }

.wn-dsc-ml:link, .wn-dsc-ml:visited, .wn-dsc-ml:hover, .wn-dsc-ml:active {
  cursor: pointer;
  color: #1580EF;
  text-decoration: none; }

/*********************************************
    MANIFESTO
*********************************************/
.team-blc {
  background-color: #fff; }

.co-founder-wrp {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 100px; }

.co-founder-ctn {
  position: relative;
  float: left; }

.tm-mmb-wrp, .tm-mmb-wrp-1 {
  position: relative;
  float: left;
  height: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block; }

.tm-mmb-wrp {
  width: 240px; }

.tm-mmb-pc-wrp {
  position: relative;
  float: left;
  height: 160px;
  width: 160px;
  overflow: hidden;
  border-radius: 6px;
  margin-left: calc(50% - 80px);
  margin-right: calc(50% - 80px); }

.team-mmb-pc {
  position: relative;
  float: left;
  height: 100%;
  width: 160px; }

.team-mmb-nm {
  position: relative;
  float: left;
  font-size: 22px;
  line-height: 26px;
  font-family: maisonneuedemi;
  color: #000;
  margin-top: 30px;
  width: 100%;
  text-align: center; }

.team-mmb-fc {
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 22px;
  font-family: maisonneuedemi;
  color: #1580EF;
  width: 100%;
  text-align: center; }

/*********************************************
    MANIFESTO
*********************************************/
.jobs-classic-cta-blc-cta {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FC3F58;
  border-radius: 4px;
  box-shadow: 0px 2px 9px rgba(177, 177, 177, 0.75);
  transition: all 0.2s linear; }

.jobs-classic-cta-blc-cta:hover {
  margin-top: -5px;
  box-shadow: 0px 2px 9px #b1b1b1;
  transition: all 0.2s linear; }

.jobs-classic-cta-blc-cta:hover {
  background-color: #BC3346; }

@font-face {
  font-family: 'proximanovalight';
  src: url("../fonts/ProximaNova-Light.otf"); }

@font-face {
  font-family: 'proximanovaregular';
  src: url("../fonts/ProximaNova-Regular.otf"); }

@font-face {
  font-family: 'proximanovasemibold';
  src: url("../fonts/ProximaNova-Semibold.otf"); }

@font-face {
  font-family: 'proximanovaregularitalic';
  src: url("../fonts/ProximaNova-RegularItalic.otf"); }

@font-face {
  font-family: 'proximanovalightitalic';
  src: url("../fonts/ProximaNova-LightItalic.otf"); }

@font-face {
  font-family: 'maisonneuebold';
  src: url("../fonts/MaisonNeue-Bold.ttf"); }

@font-face {
  font-family: 'maisonneuebolditalic';
  src: url("../fonts/MaisonNeue-BoldItalic.ttf"); }

@font-face {
  font-family: 'maisonneuebook';
  src: url("../fonts/MaisonNeue-Book.ttf"); }

@font-face {
  font-family: 'maisonneuebookitalic';
  src: url("../fonts/MaisonNeue-BookItalic.ttf"); }

@font-face {
  font-family: 'maisonneuedemi';
  src: url("../fonts/MaisonNeue-Demi.ttf"); }

@font-face {
  font-family: 'maisonneuedemiitalic';
  src: url("../fonts/MaisonNeue-DemiItalic.ttf"); }

@font-face {
  font-family: 'maisonneuelight';
  src: url("../fonts/MaisonNeue-Light.ttf"); }

@font-face {
  font-family: 'maisonneuelightitalic';
  src: url("../fonts/MaisonNeue-LightItalic.ttf"); }

@font-face {
  font-family: 'maisonneuemedium';
  src: url("../fonts/MaisonNeue-Medium.ttf"); }

@font-face {
  font-family: 'maisonneuemediumitalic';
  src: url("../fonts/MaisonNeue-MediumItalic.ttf"); }

@media (max-width: 768px) {
  .introduction-block {
    height: 900px; }
  .intro-ttl {
    line-height: 60px; }
  .intro-sttl {
    line-height: 36px; }
  .benefits-wrp {
    width: 100%; }
  .benefit-wrp {
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    display: block; }
  .htp-stps {
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    display: block; }
  .htp-stps-dsktp {
    display: none !important; }
  .htp-stp, .htp-stp-1 {
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    display: block; }
  .howto-wrp {
    width: 100%; }
  .htp-crt-stp {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 50px; }
  .htp-crt-stp-img {
    position: relative;
    height: 100%;
    margin-left: calc(50% - 165px);
    margin-right: calc(50% - 165px); }
  .logs-wrp, .cookies-wrp {
    width: 320px;
    margin-left: calc(50% - 160px);
    margin-right: calc(50% - 160px); }
  .logs-wrp {
    margin-bottom: 40px; }
  .cookies-wrp {
    margin-top: 40px; }
  .solution-block {
    display: none !important; }
  .partners-block {
    height: 40px;
    background-color: #F7F7F7; }
  .partners-wrp {
    position: relative;
    margin: auto;
    background-color: auto;
    height: 100%;
    width: 290px; }
  .partner {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    height: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block; } }

@media (min-width: 769px) and (max-width: 992px) {
  .intro-ttl {
    line-height: 60px; }
  .intro-sttl {
    line-height: 36px; }
  .introduction-block {
    height: 750px; }
  .benefits-wrp {
    width: 100%; }
  .benefit-wrp {
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    display: block; }
  .htp-stps {
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    display: block; }
  .htp-stps-dsktp {
    display: none !important; }
  .htp-stp, .htp-stp-1 {
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    display: block; }
  .howto-wrp {
    width: 100%; }
  .htp-crt-stp {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 50px; }
  .htp-crt-stp-img {
    position: relative;
    height: 100%;
    margin-left: calc(50% - 330px);
    margin-right: calc(50% - 330px); }
  .logs-wrp, .cookies-wrp {
    width: 320px; }
  .logs-wrp {
    margin-left: calc((100% - 640px)/3);
    margin-right: calc((100% - 640px)/6); }
  .cookies-wrp {
    margin-right: calc((100% - 640px)/3);
    margin-left: calc((100% - 640px)/6); }
  .solution-block {
    display: none !important; }
  .partners-block {
    height: 60px;
    background-color: #F7F7F7; }
  .partners-wrp {
    position: relative;
    margin: auto;
    background-color: auto;
    height: 100%;
    width: 760px; }
  .partner {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block; } }

@media (min-width: 993px) and (max-width: 1200px) {
  .introduction-block {
    height: 650px; }
  .benefits-wrp {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .benefit-wrp {
    margin-right: 1.5%;
    margin-left: 1.5%; }
  .htp-stps {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .htp-stps-mb {
    display: none !important; }
  .htp-stp, .htp-stp-1 {
    margin-right: 1.5%;
    margin-left: 1.5%; }
  .howto-wrp {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .htp-crt-stp {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 50px; }
  .htp-crt-stp-img {
    position: relative;
    height: 100%;
    margin-left: calc(50% - 330px);
    margin-right: calc(50% - 330px); }
  .logs-wrp, .cookies-wrp {
    width: 320px; }
  .logs-wrp {
    margin-left: calc((100% - 640px)/3);
    margin-right: calc((100% - 640px)/6); }
  .cookies-wrp {
    margin-right: calc((100% - 640px)/3);
    margin-left: calc((100% - 640px)/6); }
  .solution-block-mb {
    display: none !important; }
  .partners-block {
    height: 60px;
    background-color: #F7F7F7; }
  .partners-wrp {
    position: relative;
    margin: auto;
    background-color: auto;
    height: 100%;
    width: 990px; }
  .partner {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block; } }

@media (min-width: 1200px) {
  .introduction-block {
    height: 650px; }
  .benefits-wrp {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .benefit-wrp {
    margin-right: 1.5%;
    margin-left: 1.5%; }
  .htp-stps {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .htp-stps-mb {
    display: none !important; }
  .htp-stp, .htp-stp-1 {
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: block; }
  .howto-wrp {
    width: 990px;
    margin-right: calc(50% - 495px);
    margin-left: calc(50% - 495px); }
  .htp-crt-stp {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 50px; }
  .htp-crt-stp-img {
    position: relative;
    height: 100%;
    margin-left: calc(50% - 330px);
    margin-right: calc(50% - 330px); }
  .logs-wrp, .cookies-wrp {
    width: 320px; }
  .logs-wrp {
    margin-left: calc((100% - 640px)/3);
    margin-right: calc((100% - 640px)/6); }
  .cookies-wrp {
    margin-right: calc((100% - 640px)/3);
    margin-left: calc((100% - 640px)/6); }
  .solution-block-mb {
    display: none !important; }
  .partners-block {
    height: 80px;
    background-color: #F7F7F7; }
  .partners-wrp {
    position: relative;
    margin: auto;
    background-color: auto;
    height: 100%;
    width: 1200px; }
  .partner {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block; } }

.app-body, .app-body-h {
  margin: 0; }

.app-body-h {
  overflow: hidden; }

/*********************************************
    SHARED CLASS 
*********************************************/
.introduction-block, .partners-block, .footer-block, .category-block, .classic-cta-blc, .benefits-blc, .howto-blc, .numbers-block, .solution-block, .solution-block-mb {
  position: relative;
  display: block;
  float: left;
  width: 100%; }

.category-block {
  background: url(../images/background-first-block-light.png) 70% 0 no-repeat;
  background-size: cover;
  height: 400px; }

.section-blc-ttl-wrp {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 60px; }

.section-blc-ttl-wrp-ttl {
  position: relative;
  font-family: maisonneuedemi;
  font-size: 36px;
  line-height: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #232B5F;
  margin-bottom: 20px; }

.section-blc-ttl-wrp-stl {
  position: relative;
  font-family: maisonneuelight;
  font-size: 18px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000; }

/*********************************************
    INTRODUCTION BLOCK
*********************************************/
.introduction-block {
  position: relative;
  background: url(../images/background-first-block-light.png) 70% 0 no-repeat;
  background-size: cover; }

/*Titles*/
.title-wrp {
  position: relative;
  float: left;
  margin-top: 192px;
  width: 100%; }

.intro-ttl {
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 48px;
  text-align: center;
  font-family: maisonneuedemi;
  color: #fff; }

.intro-sttl {
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  font-family: maisonneuelight;
  color: #fff; }

/*cta*/
.cta-wrp {
  position: relative;
  float: left;
  width: 220px;
  margin-right: calc(50% - 110px);
  margin-left: calc(50% - 110px);
  height: 48px;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.08);
  transition: all 0.2s linear; }

.cta-wrp:hover {
  box-shadow: 0px 2px 9px rgba(177, 177, 177, 0.2);
  margin-top: 45px;
  transition: all 0.2s linear; }

.cta {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 4px; }

.cta:hover {
  background-color: #D1D5E2; }

.cta-cp {
  position: relative;
  float: left;
  text-align: center;
  font-family: maisonneuedemi;
  font-size: 16px;
  color: #066CFC;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px; }

/*********************************************
    PARTNERS
*********************************************/
/*********************************************
    SOLUTION BLOCK DESKTOP
*********************************************/
.solution-block-mb {
  height: auto;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 100px; }

.solution-blc-mb-wrp {
  position: relative;
  float: left;
  width: 300px;
  margin-left: calc(50% - 150px);
  margin-right: calc(50% - 150px);
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px; }

.solution-blc-stp-mb-wrp {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 9px 26px rgba(0, 2, 23, 0.14);
  margin-top: 50px;
  margin-bottom: 50px; }

.solution-blc-mb-stp {
  position: relative;
  float: left;
  border-radius: 30px;
  border: solid 2px #007DF3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  margin-right: calc(50% - 20px);
  margin-left: calc(50% - 20px);
  background-color: white;
  z-index: 6; }

.solution-blc-stp-mb-nm {
  position: relative;
  width: 40px;
  text-align: center;
  display: inline-block;
  color: #787B92;
  font-family: maisonneuedemi;
  font-size: 22px;
  line-height: 40px; }

.solution-blc-stp-mb-cp {
  position: relative;
  float: left;
  width: 300px;
  height: auto;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 9px 26px rgba(0, 2, 23, 0.14);
  border-radius: 6px;
  margin-top: 20px; }

.solution-blc-stp-mb-ttl {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-family: maisonneuebold;
  color: #232B5F;
  font-size: 16px;
  line-height: 22px;
  margin-top: 45px; }

.solution-blc-stp-mb-sbttl {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-family: maisonneuelight;
  color: #90A4AE;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px; }

/*********************************************
    SOLUTION BLOCK DESKTOP
*********************************************/
.solution-block {
  height: auto;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 100px; }

.schema-solution-blc {
  position: relative;
  float: left;
  width: 990px;
  margin-top: 50px;
  margin-left: calc(50% - 495px);
  margin-right: calc(50% - 495px);
  height: 1200px;
  background-color: 1000px; }

.data-blc-1, .data-blc-2 {
  position: absolute;
  width: 310px;
  height: 190px;
  box-shadow: 0px 9px 26px rgba(0, 2, 23, 0.14);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  z-index: 5; }

.data-blc-2 {
  right: 0px; }

.data-blc-tpbar-1, .data-blc-tpbar-2 {
  width: 100%;
  height: 20px; }

.data-blc-tpbar-1 {
  background: #3EE5F9;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #3EE5F9, #22E77E);
  /* Standard syntax */ }

.data-blc-tpbar-2 {
  background: #E5A01B;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #E5A01B, #FF4059);
  /* Standard syntax */ }

.tpbar-btn-wrp {
  position: relative;
  float: left;
  width: calc(100% - 15px);
  margin-left: 15px; }

.tpbar-btn-1, .tpbar-btn-2, .tpbar-btn-3 {
  position: relative;
  float: left;
  border-radius: 40px;
  height: 12px;
  width: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block; }

.tpbar-btn-1 {
  background-color: #EE3E45; }

.tpbar-btn-2 {
  background-color: #F8E71C; }

.tpbar-btn-3 {
  background-color: #7ED321; }

.data-blc-ttl {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-family: maisonneuebold;
  color: #232B5F;
  font-size: 16px;
  line-height: 22px;
  margin-top: 45px; }

.data-blc-cntt {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-family: maisonneuelight;
  color: #90A4AE;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px; }

.deep-learning-engine-wrp {
  position: absolute;
  top: 450px;
  height: 132px;
  width: 132px;
  margin-left: calc(50% - 66px);
  margin-right: calc(50% - 66px);
  z-index: 5; }

.deep-learning-engine-lg {
  position: relative;
  width: 100%;
  height: 100%; }

.custom-audience-blc {
  position: absolute;
  top: 770px;
  width: 330px;
  height: 210px;
  margin-left: calc(50% - 165px);
  margin-right: calc(50% - 165px);
  box-shadow: 0px 9px 26px rgba(0, 2, 23, 0.14);
  border-radius: 6px;
  overflow: hidden;
  z-index: 5;
  background: #3928E0;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #007DF3, #212BEB, #6523CB);
  /* Standard syntax */ }

.custom-audience-top {
  position: relative;
  height: 120px;
  width: 280px;
  margin-right: calc(50% - 140px);
  margin-left: calc(50% - 140px);
  margin-top: 20px; }

.custom-audience-lg {
  position: relative;
  float: left;
  display: inline-block;
  height: 28px;
  width: 28px; }

.custom-audience-ttl {
  position: relative;
  float: left;
  display: inline-block;
  line-height: 28px;
  font-family: maisonneuemedium;
  font-size: 16px;
  color: #fff;
  margin-left: 15px;
  width: calc(100% - 120px); }

.custom-audience-act {
  position: relative;
  float: right;
  width: 74px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5); }

.custom-audience-act-cp {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: maisonneuemedium;
  line-height: 28px;
  font-size: 12px;
  color: #fff; }

.custom-audience-id {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 280px;
  margin-left: calc(50% - 140px);
  margin-right: calc(50% - 140px);
  border-bottom: 1px solid #97A4FA; }

.custom-audience-id-cp {
  position: relative;
  width: 200px;
  margin-left: calc(50% - 100px);
  margin-right: calc(50% - 100px);
  height: 100%;
  overflow: hidden; }

.custom-audience-id-cp-l, .custom-audience-id-cp-r {
  position: relative;
  float: left;
  width: 80%;
  height: 100%;
  text-align: left;
  font-size: 10px;
  line-height: 16px;
  font-family: maisonneuelight;
  color: white; }

.custom-audience-id-cp-l {
  width: 80%;
  float: left; }

.custom-audience-id-cp-r {
  width: 20%;
  float: right; }

.custom-audience-nb {
  position: relative;
  float: left;
  width: 200px;
  margin-left: calc(50% - 100px);
  margin-right: calc(50% - 100px);
  height: 40px;
  margin-top: 15px; }

.custom-audience-nb-r, .custom-audience-nb-l {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  margin-top: 5px; }

.custom-audience-nb-ttl {
  position: relative;
  float: left;
  text-align: left;
  font-size: 8px;
  line-height: 8px;
  font-family: maisonneuebold;
  color: #8EABFC;
  width: 100%; }

.custom-audience-nb-nb {
  position: relative;
  float: left;
  text-align: left;
  font-size: 12px;
  line-height: 32px;
  font-family: maisonneuedemi;
  color: white;
  width: 100%; }

.step-number-wrp {
  position: absolute;
  border-radius: 30px;
  border: solid 2px #007DF3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  background-color: white;
  z-index: 6; }

.step-number {
  position: relative;
  width: 40px;
  text-align: center;
  display: inline-block;
  color: #787B92;
  font-family: maisonneuedemi;
  font-size: 22px;
  line-height: 40px; }

.step-1 {
  top: 50px;
  left: 40px; }

.step-2 {
  top: 400px;
  left: 600px; }

.step-3 {
  top: 580px;
  left: 120px; }

.step-4 {
  top: 1020px;
  left: 340px; }

.step-cp-bx {
  position: absolute;
  height: auto;
  z-index: 10;
  width: 240px; }

.step-cp-bx-2 {
  top: 412px;
  left: 680px;
  text-align: left !important; }

.step-cp-bx-3 {
  top: 590px;
  left: 200px;
  text-align: left !important; }

.step-cp-bx-4 {
  top: 1034px;
  left: 380px;
  text-align: center !important; }

.step-cp-bx-ttl {
  position: relative;
  float: left;
  width: 100%;
  font-family: maisonneuebold;
  color: #232B5F;
  font-size: 16px;
  line-height: 22px; }

.step-cp-bx-cntt {
  position: relative;
  float: left;
  width: 100%;
  font-family: maisonneuelight;
  color: #90A4AE;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px; }

/*animation green */
.circle-wrp-1-step0 {
  position: absolute;
  top: 185px;
  left: 155px;
  height: 10px;
  width: 10px; }

.circle-wrp-2-step0 {
  height: 100%;
  width: 100%; }

.circle-wrp-1-step1 {
  position: absolute;
  top: 185px;
  left: 155px;
  height: 10px;
  width: 10px;
  animation: yAxis-stepone 2s 0.5 linear; }

.circle-wrp-2-step1 {
  height: 100%;
  width: 100%; }

@keyframes yAxis-stepone {
  50% {
    animation-timing-function: linear;
    transform: translateY(120px); } }

.circle-wrp-1-step2 {
  position: absolute;
  top: 305px;
  left: 155px;
  height: 10px;
  width: 10px;
  animation: yAxis-steptwo 0.32s 0.5 ease-out; }

.circle-wrp-2-step2 {
  height: 100%;
  width: 100%;
  animation: xAxis-steptwo 0.32s 0.5 ease-in; }

@keyframes yAxis-steptwo {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(20px); } }

@keyframes xAxis-steptwo {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(20px); } }

.circle-wrp-1-step3 {
  position: absolute;
  top: 325px;
  left: 175px;
  height: 10px;
  width: 10px; }

.circle-wrp-2-step3 {
  height: 100%;
  width: 100%;
  animation: xAxis-stepthree 4.5s 0.5 linear; }

@keyframes xAxis-stepthree {
  50% {
    animation-timing-function: linear;
    transform: translateX(270px); } }

.circle-wrp-1-step4 {
  position: absolute;
  top: 325px;
  left: 445px;
  height: 10px;
  width: 10px;
  animation: yAxis-stepfour 0.32s 0.5 ease-in; }

.circle-wrp-2-step4 {
  height: 100%;
  width: 100%;
  animation: xAxis-stepfour 0.32s 0.5 ease-out; }

@keyframes yAxis-stepfour {
  50% {
    animation-timing-function: ease-in;
    transform: translateY(20px); } }

@keyframes xAxis-stepfour {
  50% {
    animation-timing-function: ease-out;
    transform: translateX(20px); } }

.circle-wrp-1-stepf {
  display: none; }

.circle-wrp-2-stepf {
  display: none; }

.circle-wrp-1-step5 {
  position: absolute;
  top: 345px;
  left: 465px;
  height: 10px;
  width: 10px;
  animation: yAxis-stepfive 2s 0.5 linear; }

.circle-wrp-2-step5 {
  height: 100%;
  width: 100%; }

@keyframes yAxis-stepfive {
  50% {
    animation-timing-function: linear;
    transform: translateY(120px); } }

/*animation red */
.circle-wrp-1-step0-r {
  position: absolute;
  top: 185px;
  right: 155px;
  height: 10px;
  width: 10px; }

.circle-wrp-2-step0-r {
  height: 100%;
  width: 100%; }

.circle-wrp-1-step1-r {
  position: absolute;
  top: 185px;
  right: 155px;
  height: 10px;
  width: 10px;
  animation: yAxis-stepone-r 2s 0.5 linear; }

.circle-wrp-2-step1-r {
  height: 100%;
  width: 100%; }

@keyframes yAxis-stepone-r {
  50% {
    animation-timing-function: linear;
    transform: translateY(120px); } }

.circle-wrp-1-step2-r {
  position: absolute;
  top: 305px;
  right: 155px;
  height: 10px;
  width: 10px;
  animation: yAxis-steptwo-r 0.32s 0.5 ease-out; }

.circle-wrp-2-step2-r {
  height: 100%;
  width: 100%;
  animation: xAxis-steptwo-r 0.32s 0.5 ease-in; }

@keyframes yAxis-steptwo-r {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(20px); } }

@keyframes xAxis-steptwo-r {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(-20px); } }

.circle-wrp-1-step3-r {
  position: absolute;
  top: 325px;
  right: 175px;
  height: 10px;
  width: 10px; }

.circle-wrp-2-step3-r {
  height: 100%;
  width: 100%;
  animation: xAxis-stepthree-r 4.5s 0.5 linear; }

@keyframes xAxis-stepthree-r {
  50% {
    animation-timing-function: linear;
    transform: translateX(-270px); } }

.circle-wrp-1-step4-r {
  position: absolute;
  top: 325px;
  right: 445px;
  height: 10px;
  width: 10px;
  animation: yAxis-stepfour-r 0.32s 0.5 ease-in; }

.circle-wrp-2-step4-r {
  height: 100%;
  width: 100%;
  animation: xAxis-stepfour-r 0.32s 0.5 ease-out; }

@keyframes yAxis-stepfour-r {
  50% {
    animation-timing-function: ease-in;
    transform: translateY(20px); } }

@keyframes xAxis-stepfour-r {
  50% {
    animation-timing-function: ease-out;
    transform: translateX(-20px); } }

.circle-wrp-1-stepf-r {
  display: none; }

.circle-wrp-2-stepf-r {
  display: none; }

.circle-wrp-1-step5-r {
  position: absolute;
  top: 345px;
  right: 465px;
  height: 10px;
  width: 10px;
  animation: yAxis-stepfive-r 2s 0.5 linear; }

.circle-wrp-2-step5-r {
  height: 100%;
  width: 100%; }

@keyframes yAxis-stepfive-r {
  50% {
    animation-timing-function: linear;
    transform: translateY(120px); } }

/*animation blue */
.circle-wrp-1-step0-b {
  position: absolute;
  top: 557px;
  left: 487px;
  height: 14px;
  width: 14px; }

.circle-wrp-2-step0-b {
  height: 100%;
  width: 100%; }

.circle-wrp-1-step1-b {
  position: absolute;
  top: 557px;
  left: 487px;
  height: 14px;
  width: 14px;
  animation: yAxis-stepone-b 3.66s 0.5 linear; }

.circle-wrp-2-step1-b {
  height: 100%;
  width: 100%; }

@keyframes yAxis-stepone-b {
  50% {
    animation-timing-function: linear;
    transform: translateY(220px); } }

.circle-wrp-1-stepf-b {
  display: none; }

.circle-wrp-2-stepf-b {
  display: none; }

.circle {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-color: #22E77E; }

.circle-r {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-color: #FF4059; }

.circle-b {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-color: #007DF3; }

/*********************************************
    PERFORMANCE
*********************************************/
.numbers-block {
  height: auto;
  padding-bottom: 100px;
  padding-top: 100px;
  background: #3928E0;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #007DF3, #212BEB, #6523CB);
  /* Standard syntax */ }

.logs-wrp {
  position: relative;
  float: left;
  height: auto;
  text-align: center; }

.logs-number-wrp {
  height: auto;
  display: inline-block;
  margin-left: auto; }

.logs-number {
  position: relative;
  float: left;
  font-size: 42px;
  font-family: maisonneuedemi;
  text-align: center;
  color: white; }

.log-pc {
  position: relative;
  float: left;
  height: 30px;
  margin-left: 20px; }

.logs-sttl {
  position: relative;
  float: left;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-family: maisonneuelight;
  text-align: center;
  color: white;
  height: auto; }

.arrow {
  animation-duration: 1000ms;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes arrow {
  from {
    top: -10px; }
  to {
    top: 5px; } }

.cookies-wrp {
  position: relative;
  float: left;
  height: auto;
  text-align: center; }

.cookies-number-wrp {
  position: relative;
  float: left;
  height: auto;
  display: inline-block;
  margin-left: auto;
  width: 210px;
  margin-left: 55px;
  margin-right: 55px; }

.cookies-sttl {
  position: relative;
  float: left;
  font-size: 20px;
  line-height: 30px;
  font-family: maisonneuelight;
  text-align: center;
  color: white; }

.cookies-pc {
  position: relative;
  float: left;
  display: inline-block;
  height: 30px;
  margin-right: 20px; }

.cookies-number {
  position: relative;
  float: left;
  width: 100%;
  font-size: 42px;
  font-family: maisonneuedemi;
  text-align: center;
  color: white; }

/*********************************************
    DEEPSIGHT EN PRATIQUE
*********************************************/
.howto-blc {
  height: auto;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 100px; }

.howto-wrp {
  position: relative;
  float: left;
  height: auto; }

.htp-crt-stts {
  position: relative;
  float: left;
  width: 100%;
  height: 6px; }

.htp-stt-wrp {
  position: relative;
  margin-left: calc(50% - 46px);
  margin-right: calc(50% - 46px);
  width: 92px;
  height: 6px; }

.htp-stt, .htp-stt-1 {
  position: relative;
  border-radius: 30px;
  margin-right: 11px;
  margin-left: 11px;
  height: 6px;
  width: 6px;
  display: inline-block; }

.htp-stt {
  background-color: #003D56; }

.htp-stt-1 {
  background-color: #98B1BB; }

.htp-stps {
  position: relative;
  float: left;
  height: auto;
  display: block; }

.htp-stp, .htp-stp-1 {
  position: relative;
  float: left;
  height: auto;
  width: 300px;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 30px;
  cursor: pointer; }

.htp-stp {
  background-color: #FDFDFD;
  box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.08);
  transition: all 0.2s linear;
  overflow: hidden !important; }

.htp-stp-1 {
  background-color: #F5F6FD;
  transition: all 0.2s linear; }

.step-bx-1 {
  background: #3928E0;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #007DF3, #212BEB, #6523CB);
  /* Standard syntax */ }

.step-bx-2 {
  background: #3928E0;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #14E571, #C1DA54);
  /* Standard syntax */ }

.step-bx-3 {
  background: #3928E0;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(75deg, #E78562, #EDC45A);
  /* Standard syntax */ }

.step-bx-no-color, .step-bx-1, .step-bx-2, .step-bx-3 {
  width: 100%;
  height: 8px; }

.step-bx-no-color {
  background: none !important; }

.htp-ttl {
  position: relative;
  font-family: maisonneuedemi;
  font-size: 20px;
  line-height: 24px;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  color: #232B5F;
  margin-top: 30px;
  text-align: center; }

.htp-stl {
  position: relative;
  font-family: maisonneuelight;
  font-size: 16px;
  line-height: 24px;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center; }

/*********************************************
    AVANTAGES
*********************************************/
.benefits-blc {
  height: auto;
  background-color: #F7F7F7;
  padding-bottom: 100px;
  padding-top: 100px; }

.benefits-wrp {
  position: relative;
  height: auto; }

.benefits-tp {
  position: relative;
  float: left;
  height: auto;
  display: block;
  width: 100%; }

.benefit-wrp {
  position: relative;
  float: left;
  height: auto;
  width: 300px;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #FDFDFD;
  box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.08);
  transition: all 0.2s linear;
  cursor: default; }

.benefit-wrp:hover {
  margin-top: 20px;
  box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear; }

.benefit-pc {
  position: relative;
  height: 74px;
  width: 74px;
  margin-top: 30px;
  margin-left: calc(50% - 37px);
  margin-left: calc(50% - 37px); }

.benefit-ttl {
  position: relative;
  font-family: maisonneuedemi;
  font-size: 20px;
  line-height: 24px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  color: #232B5F;
  margin-top: 30px;
  text-align: center; }

.benefit-stl {
  position: relative;
  font-family: maisonneuelight;
  font-size: 16px;
  line-height: 24px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center; }

/*********************************************
    CLASSIC CTA BLOC
*********************************************/
.classic-cta-blc {
  height: auto;
  padding-bottom: 100px;
  padding-top: 100px; }

.classic-cta-blc-cp-wrp {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center; }

.classic-cta-blc-cp-ttl {
  position: relative;
  font-family: maisonneuedemi;
  font-size: 36px;
  line-height: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #232B5F;
  margin-bottom: 20px; }

.classic-cta-blc-cp-stl {
  position: relative;
  font-family: maisonneuelight;
  font-size: 18px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000; }

.classic-cta-blc-cta-wrp {
  position: relative;
  float: left;
  width: 220px;
  margin-right: calc(50% - 110px);
  margin-left: calc(50% - 110px);
  height: 48px;
  margin-top: 50px;
  cursor: pointer; }

.classic-cta-blc-cta {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #06D79C;
  border-radius: 4px;
  box-shadow: 0px 2px 9px rgba(177, 177, 177, 0.75);
  transition: all 0.2s linear; }

.classic-cta-blc-cta:hover {
  margin-top: -5px;
  box-shadow: 0px 2px 9px #b1b1b1;
  transition: all 0.2s linear; }

.classic-cta-blc-cta:hover {
  background-color: #1B9573; }

.classic-cta-blc-cta-cp {
  position: relative;
  float: left;
  text-align: center;
  font-family: maisonneuedemi;
  font-size: 16px;
  color: #fff;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px; }

.wrapper-test {
  position: relative;
  float: left;
  width: 300px;
  height: auto;
  background-color: blue;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block; }

.top-test {
  background-color: red;
  width: 100%;
  height: 10px; }
